body,
button,
select,
textarea {
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}
/* Define keyframes for the bounce animation */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Apply animation to the bounce-hand class */
.bounce-hand {
  display: inline-block;
  animation: bounce 1.5s infinite;
}

.categories {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}
.ttclass {
  width: 60%;
  font-size: 1.8rem;
}

/* (Your existing styles) */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile img {
  width: 35%; /* Adjust the size of your profile image */

  margin-right: 10px;
}
.typing-text-1 {
  /* Increase the font size */
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #333; /* Cursor effect */
  max-width: 100%; /* Adjust the maximum width */
  margin-bottom: 20px; /* Add some space at the bottom */
  animation: typing 4s steps(30, end), blink-caret 0.5s step-end infinite;
}
.typing-text-2 {
  /* Increase the font size */
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #333; /* Cursor effect */
  max-width: 100%; /* Adjust the maximum width */
  margin-bottom: 20px; /* Add some space at the bottom */
  animation: typing 4s steps(30, end), blink-caret 0.5s step-end infinite;
}

.typing-text-3 {
  /* Increase the font size */
  white-space: nowrap;
  overflow: hidden;
  border-right: 0px solid #333; /* Cursor effect */
  max-width: 100%; /* Adjust the maximum width */
  margin-bottom: 20px; /* Add some space at the bottom */
}

.highlight {
  color: #3498db; /* Adjust the color as needed */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}
.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  overflow: scroll;
}
img#modalImage {
  width: 100%;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.categories button {
  background-color: #ffc500;
  color: #000000;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid #000;
}

.categories button:hover {
  background-color: #ffc500;
}

button {
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000000; /* Change to your desired button color */
  box-shadow: 0 5px 0 #000000; /* Darker color for bottom shadow */
  transition: transform 0.2s, box-shadow 0.2s;
}

button::before,
button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  transition: opacity 0.2s;
}

button::after {
  z-index: -1;
  bottom: 0;
  transform: translateY(100%);
}

button:hover,
.categories button.active {
  transform: translateY(5px);
  box-shadow: 0 3px 0 #000000; /* Adjust shadow on hover */
}

button:hover::before,
button:hover::after {
  opacity: 0; /* Hide pseudo-elements on hover */
}

header {
  background-color: #ffc500;
  color: #000000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px; /* Adjust the size of your logo */
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  font-size: 25px;
}
nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

nav a:hover {
  color: #f2f2f2;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 80%;
  margin: 20px auto;
}

.project {
  position: relative;
  overflow: hidden;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  flex: 0 0 calc(33% - 20px);
  max-width: calc(33% - 20px);
  border: 2px solid black; /* Black border */
  background-color: #ffffff; /* Change background color */
}

.project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s;
  background-color: rgba(0, 0, 0, 0); /* Initial transparent layer */
}

.project:hover {
  transform: scale(1.05); /* Scale effect on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  border-color: #000; /* Change border color on hover */
}

.project:hover::after {
  background-color: rgba(0, 0, 0, 0.2); /* Change background color on hover */
  /* Adjust the RGBA values to get your desired color */
}

.project img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s;
}

.project:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 8px;
}

.project:hover .overlay {
  opacity: 1;
}

.project-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}

.project:hover .project-details {
  opacity: 1;
}

.project-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-details p {
  font-size: 16px;
  margin-bottom: 15px;
}

.project-details a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffc500;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.project-details a:hover {
  background-color: #836400;
}
.footer {
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  display: flex;
  align-items: center;
}
.footer-links {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer-links a {
  display: inline-block;
  margin: 0 15px;
}

.footer-links img {
  width: 30px; /* Adjust icon size */
  height: 30px; /* Adjust icon size */
}

.project {
  position: relative;
  overflow: hidden;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 5px 0 #ffc500; /* Darker color for bottom shadow */
  transition: transform 0.2s, box-shadow 0.2s;
}

.project::before,
.project::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  transition: opacity 0.2s;
}

.project::after {
  background-color: rgba(0, 0, 0, 0.2); /* Dark color for bottom shadow */
  z-index: -1;
  bottom: 0;
  transform: translateY(100%);
}

.project:hover {
  transform: translateY(2px);
  box-shadow: 0 3px 0 #ffc500; /* Adjust shadow on hover */
}

.project:hover::before,
.project:hover::after {
  opacity: 0; /* Hide pseudo-elements on hover */
}

header .footer-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 25%;
  justify-content: flex-end;
}
.logo {
  width: 25%;
}
nav {
  text-align: center;
  font-size: 19px;
}
/* Your existing CSS */

/* For screens smaller than 768px */
@media (max-width: 768px) {
  /* Adjusting header */
  header {
    padding: 10px; /* Add padding to the header */
  }

  .logo img {
    width: 80px; /* Reduce logo size */
  }

  nav {
    font-size: 14px; /* Reduce font size for navigation */
  }

  /* Adjusting profile section */
  .profile {
    flex-direction: column; /* Stack profile image and text vertically */
    align-items: center; /* Center align items */
  }

  .profile img {
    width: 70%; /* Adjust profile image width */
    margin-bottom: 20px; /* Add spacing between image and text */
  }

  .ttclass {
    width: 80%; /* Adjust text width */
    font-size: 1.5rem; /* Adjust text size */
    text-align: center; /* Center align text */
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px -5px; /* Negative margin to counteract button padding */
  }

  .categories button {
    font-size: 14px;
    padding: 10px 20px;
    margin: 5px; /* Adjusted margin */
    border: none;
    border-radius: 5px;
    background-color: #ffc500;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .categories button:hover {
    background-color: #836400;
    color: #ffffff;
  }
  .project {
    flex: 100%;
    max-width: 100%;
  }
  nav {
    font-size: 12px;
    display: none;
  }
  .logo {
    width: auto;
    margin: 0 auto;
  }
  header {
    background-color: #ffc500;
    color: #000000;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Adjust other styles as needed for smaller screens */
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
  /* Adjusting header */
  header {
    padding: 5px; /* Further reduce padding in header */
  }
  .logo {
    width: auto;
    margin: 0 auto;
  }
  .categories button {
    font-size: 10px;
    padding: 8px 2px;
    margin: 3px;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav {
    font-size: 12px;
    display: none;
  }
  .logo img {
    width: 60px; /* Further reduce logo size */
  }

  nav {
    font-size: 12px; /* Further reduce font size for navigation */
  }

  /* Adjusting profile section */
  .profile img {
    width: 90%; /* Further adjust profile image width */
  }
  header .footer-links {
    display: none;
  }
  .project {
    flex: 100%;
    max-width: 100%;
  }

  .ttclass {
    width: 90%; /* Further adjust text width */
    font-size: 10px; /* Further reduce text size */
  }

  .categories button {
    font-size: 10px;
    padding: 8px 2px;
    margin: 3px;
  }

  /* Additional adjustments for even smaller screens */
}
span.highlight-bg {
  background: #ffc500;
  padding: 15px;
}
